.color-grey {
    --color: #ffffff;
    --background: #2b364a;
}

.thanks {
    font-size: 28px;
    text-align: center;
    color: #2b364a;
}

.student-id {
    font-size: 20px;
    text-align: center;
    color: #2b364a;
}

.theme {
    --color: #ffffff;
    --background: #2b364a;
}