<ion-header>
  <ion-toolbar>
    <ion-title class='ion-text-center'>
      Intergames Popular Vote
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="clearUser()">edit info</ion-button>
  <div class="ion-text-center">
    <h4><u>Participants</u></h4>
  </div>
  <div>
    <ion-grid class=cards>
      <ion-row>
        <ion-col>
          <ion-card button='true' (click)='voteAlert("a")'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">a</p>        
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button='true' (click)='voteAlert("b")'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">b</p>    
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button='true' (click)='voteAlert("c")'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">c</p>    
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card button='true' (click)='voteAlert("d")'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">d</p>        
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button='true' (click)='voteAlert("e")'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">e</p>    
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button='true' (click)='voteAlert("f")'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">f</p>    
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card button='true' (click)='voteAlert("g")'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">g</p>        
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button='true' (click)='voteAlert("h")'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">h</p>    
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button='true' (click)='voteAlert("i")'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">i</p>    
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card button='true' (click)='voteAlert("j")'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">j</p>        
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button='true' (click)='voteAlert("k")'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">k</p>    
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button='true' (click)='voteAlert("l")'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">l</p>    
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content> 