<ion-header>
  <ion-toolbar>
    <ion-title class='ion-text-center'>
      Intergames Popular Vote
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h4><u>Participants</u></h4>
  </div>
  <div>
    <ion-grid class=cards>
      <ion-row>
        <ion-col>
          <ion-card button='true' (click)='voteAlert(1)'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">participant1</p>        
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button='true' (click)='voteAlert(2)'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">participant2</p>    
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button='true' (click)='voteAlert(3)'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">participant3</p>    
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card button='true' (click)='voteAlert(4)'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">participant4</p>        
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button='true' (click)='voteAlert(5)'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">participant5</p>    
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button='true' (click)='voteAlert(6)'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">participant6</p>    
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card button='true' (click)='voteAlert(7)'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">p7</p>        
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button='true' (click)='voteAlert(8)'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">p8</p>    
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button='true' (click)='voteAlert(9)'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">p9</p>    
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card button='true' (click)='voteAlert(10)'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">p10</p>        
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button='true' (click)='voteAlert(11)'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">p11</p>    
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button='true' (click)='voteAlert(12)'>
            <img src="assets/img/6000200094514.jpg" alt="your image">
            <p class="ion-text-center">p12</p>    
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content> 