<ion-header>
  <ion-toolbar class="color-grey">
    <ion-title class="ion-text-center">14th Intergames Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="line-input">
    <ion-item>
      <ion-label position="floating">Student ID</ion-label>
      <ion-input [(ngModel)]="id_string" type="text" placeholder="Your 10 Digit Student ID"></ion-input>
    </ion-item>
  </div>
  <ion-button expand="block" size="default" (click)="checkID()">Next</ion-button>
</ion-content>
